amazons3pdfupload/src/main/mule/amazons3pdfupload.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:s3="http://www.mulesoft.org/schema/mule/s3" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/s3 http://www.mulesoft.org/schema/mule/s3/current/mule-s3.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="427a6671-fc02-4cb1-ba59-4f6a51e84d5f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config" doc:name="File Config" doc:id="54153482-9b81-48d7-86a8-50f7f3e69cb7" />
	<s3:config name="Amazon_S3_Configuration" doc:name="Amazon S3 Configuration" doc:id="372b849b-4992-4fe7-9a10-b6fb4b577004" >
		<s3:connection accessKey="AKIA4LZWRYPF7MG7N5XF" secretKey="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" region="us-east-2"/>
	</s3:config>
	<flow name="amazons3pdfuploadFlow" doc:id="e01fa0dd-2295-420c-9585-92f0391d353e" >
		<http:listener doc:name="Listener" doc:id="78438563-e6c0-4ac0-ad2d-ada41d565566" config-ref="HTTP_Listener_config" path="/S3upload"/>
		<file:read doc:name="Read" doc:id="3da397b4-4827-4644-b8c1-6c8cfb690e99" config-ref="File_Config" path="${app.home}/epfo.pdf"/>
		<logger level="INFO" doc:name="Logger" doc:id="163c9e6c-be16-48a3-838f-5038e91e3f39" message="#[payload]"/>
		<s3:put-object doc:name="Put Object" doc:id="c2774d4d-3d8e-4a99-8b9c-8ce48ca1b40d" config-ref="Amazon_S3_Configuration" bucketName="invoicepdfsap" key="invoicepdfsap.pdf"/>
		<set-payload value="#[%dw 2.0 &#10;output application/json&#10;---&#10;payload]" doc:name="Set Payload" doc:id="6b00153f-5bb6-424e-8b96-f75b3bda641e" />
	</flow>
	<flow name="amazons3pdfuploadFlow1" doc:id="6fa104a0-0bbf-4b80-b386-c819c304e352" >
		<http:listener doc:name="Listener" doc:id="fb9a27fe-4e42-47ae-bb12-283a0447fa60" config-ref="HTTP_Listener_config" path="/fetchobj"/>
		<s3:get-object doc:name="Get Object" doc:id="1ee91498-09e9-471b-87d3-301622882453" config-ref="Amazon_S3_Configuration" bucketName="invoicepdfsap" key="invoicepdfsap.pdf"/>
	</flow>
</mule>
