amazon_cloudwatch/src/main/mule/amazon_cloudwatch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="d1c9ca3c-ada6-48b0-a96b-aae1f608d934" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="amazon_cloudwatchFlow" doc:id="eeaf168f-0b9e-4d3e-83e9-b02623d3ef14" >
		<http:listener doc:name="Listener" doc:id="b910a972-31f6-4a80-804d-f6dcff461d14" config-ref="HTTP_Listener_config" path="/cloudwatch"/>
		<ee:transform doc:name="Transform Message" doc:id="d312d4b8-fc32-4858-9792-a76b3f89b673" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	payload : "hello cloudwatch"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ff7fa081-0637-4b1d-b676-bacb2fef4cc8" message="#[payload]"/>
		<logger level="ERROR" doc:name="Logger" doc:id="edcfa951-e671-48a5-a6de-3df7d796ee42" message='#["hello from Ekta Mule"]'/>
	</flow>
</mule>
